<% if user_signed_in? %>

<h1>Friend List</h1>

<table class="table table-striped table-hover table-bordered">
   <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Animal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <div id="friends">
  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
    <tr>
      <td>
        <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
      </td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.animal %></td>
      <td><%= link_to "Destory", friend, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
    </tr>
    <% end %>
    <% end %>
    </div>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>

<% else %>

<h1>Hello World!</h1>
This is my second Rails webpage...

<% end %>
